#footer
  .container
    %p
      The content of this web site is licensed under a
      = link_to "Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License", "http://creativecommons.org/licenses/by-nc-sa/3.0/"
      unless otherwise specified.