.addthis_toolbox.addthis_default_style.addthis_32x32_style
  %a.addthis_button_facebook
  %a.addthis_button_twitter
  %a.addthis_button_hackernews
  %a.addthis_button_reddit
  %a.addthis_button_google_plusone

%script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f1315273018ca81", :type => "text/javascript"}