%h2 About me
%p
  Software Engineer at
  = succeed "." do
    %a{:href => "http://wuaki.tv"} Wuaki.tv
  Recreational Ruby Hacker, climber and roller-skater.

%h2 GitHub Projects
%ul#github

%h2 Twitter Feed
%ul#tweets
