%h2 About me
%p
  Software Engineer at
  = succeed "." do
    %a{href: "camaloon.com"} Camaloon
  Recreational hacker, head-banger and (mostly) Ruby programmer.

%h2 GitHub Projects
%ul#github

%h2 Twitter Feed
%ul#tweets
