%h1 Projects

- Project.all.each do |project|
  .project
    %h2= project[:name]
    = project[:description]
    %br
    = link_to "More information", project.url
    ·
    = link_to "Source", project[:url]
