{
  "presets": [
    "react",
    ["env", {
      "modules": false,
      "loose": true,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }],
    "stage-1"
  ],
  "plugins": [
    "transform-decorators-legacy"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": [
        "react-optimize"
      ]
    }
  }
}
