@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}

.headroom--pinned {
  z-index: 9999 !important;
}

.ts {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.pv0-s {
  padding-top: 0;
  padding-bottom: 0;
}

.ba-2 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
