@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}

.headroom--pinned {
  z-index: 9999 !important;
}

.ts {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

a {
  @apply .underline;
}

a.link {
  @apply .no-underline;
}
